<div class="row rodape">
  <div class="info-geral">
    <img src="{{ url_for('static', filename='icons/logo.svg') }}" style="height: 100px;">
    <div class="gradtrack-rodape">
      O GradTrack foi criado para auxiliar o aluno na gestão do seu tempo durante a universidade, fornecendo ferramentas que o auxiliem na obter do máximo de aprendizado durante seu período de graduação
    </div>
  </div>
  <div class="frentes-atuacao">
    <div class="texto-rodape" style="letter-spacing: 2px; font-weight: 600; margin-bottom: 2rem;"> FRENTES DE TRABALHO </div>
    <div class="texto-rodape"> Suporte ao aluno na escolha das atividades complementares </div>
    <div class="texto-rodape"> Visualização geral das atividades complementares já cumpridas e que ainda podem ser realizadas </div>
    <div class="texto-rodape"> Centralização dos comprovantes com as horas complementares já realizadas </div>
    <div class="texto-rodape"> Centralização de datas e prazos importantes referentes a UFRJ e ao curso de Ciência da Computação </div>
  </div>
</div>
